RewriteEngine On

#Pages
RewriteRule ^skills$ skills.html
RewriteRule ^portfolio$ portfolio.html
#RewriteRule ^portfolio/* portfolio.html
RewriteRule ^contact$ contact.html
RewriteRule ^blog$ blog.html
