@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: theme('colors.primary.secondary');
  }
  